.sidebar{
	position:fixed;
	left: 0;
	bottom: 0;
	top: 55px;
	background-color: white;
	width:72px;
}
.home-icon{
	width: 28px;
	margin-left: 20px;
	margin-top: 15px;
}
.home{
	font-size: 10px;
	margin-left: 20px;
	font-family: arial;
}
.explore-icon{
	width: 28px;
	margin-left: 20px;
	margin-top: 35px;
	
}
.explores{
	font-size: 10px;
	margin-left: 18px;
	font-family: arial;
}
.subscriptions-icon{
	width: 28px;
	margin-left: 20px;
	margin-top: 35px;
}
.sub{
	font-size: 10px;
	margin-left: 8px;
	font-family: arial;
}
.originals{
	width: 28px;
	margin-left: 20px;
	margin-top: 35px;
}
.ori{
	font-size: 10px;
	margin-left: 12px;
	font-family: arial;
}
.music-icon{
	width: 28px;
	margin-left: 20px;
	margin-top: 35px;
}
.music{
	font-size: 10px;
	font-family: arial;
}
.library-icon{
	width: 28px;
	margin-left: 20px;
	margin-top: 35px;
}
.lib{
	font-size: 10px;
	margin-left: 18px;
	font-family: arial;
}
