.thumbnail-1{
	width: 100%;
	
}

.video-thumbnail-1{
	width: 100%;
	cursor: pointer;
}

.channel-name1{
	font-size: 12px;
	color: grey;
	margin-top: 12px;
	cursor: pointer;
	
}
.title-1{
	margin-top: 0;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.video-stats1{
	font-size: 12px;
	color: grey;
	margin-top: 5px;
	cursor: pointer;

}
.video-info-grid{
	display: grid;
	grid-template-columns: 50px 1fr;
}

.channel-profile1{
	width: 40px;
	border-radius: 50px;
}
.thumbnail-row1{
	margin-bottom: 12px;
	position:relative;
}

.video-time1{
	background-color: black;
	color: white;
	position: absolute;
	bottom: 8px;
	right: 5px;
}


.thumbnail-2{
	width: 100%;
}
.video-thumbnail-2{
	width: 100%;
	cursor: pointer;
}

.channel-name2{
	font-size: 12px;
	color: grey;
	margin-top: 12px;
	cursor: pointer;
	
}
.title-2{
	margin-top: 0;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.video-stats2{
	font-size: 12px;
	color: grey;
	margin-top: 5px;
	cursor: pointer;

}
.video-info-grid{
	display: grid;
	grid-template-columns: 50px 1fr;
}
.channel-profile2{
	width: 40px;
	border-radius: 50px;
}
.thumbnail-row2{
	margin-bottom: 12px;
	position: relative;
}
.video-time2{
	background-color: black;
	color: white;
	position: absolute;
	bottom: 8px;
	right: 5px;
}
.video-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 40px;
}
@media(max-width: 780px){
	.video-grid{
		grid-template-columns: 1fr 1fr ;
	}
}
@media(min-width: 751px) and (max-width:999px){
	.video-grid{
	grid-template-columns: 1fr 1fr 1fr;
}
}
@media( min-width:1000px){
	.video-grid{
		grid-template-columns: 1fr 1fr 1fr 1fr;

	}
}

.thumbnail-2{
	width: 100%;
}
.video-thumbnail-2{
	width: 100%;
	cursor: pointer;
}

.channel-name2{
	font-size: 12px;
	color: grey;
	margin-top: 12px;
	cursor: pointer;
	
}
















